<mat-card>
    <mat-card-content>
        <mat-form-field class="full-width-input">
            <input matInput name="transactionId" placeholder="Transaction Id" [(ngModel)]="transactionId" [required]="true">
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput numbersOnly name="amount" placeholder="Amount" [(ngModel)]="amount" minlength="0"
                maxlength="4" [required]="true">
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="add()">Load</button>
    </mat-card-content>
</mat-card>