<mat-card>
    <mat-card-content>
        <mat-form-field class="full-width-input">
            <input matInput type="password" name="oldPassword" placeholder="Current Password" [(ngModel)]="oldPassword"
                [required]="true">
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput type="password" name="password" placeholder="New Password" [(ngModel)]="password" [required]="true">
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput type="password" name="confirm-password" placeholder="Confirm New Password" [(ngModel)]="confirmPassword"
                [required]="true">
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="updatePassword()">Update</button>
    </mat-card-content>
</mat-card>