<mat-card *ngIf="contest">
    <ng-container *ngIf="isHost">
        <h5 class="title">{{contest.guest.name}} ({{contest.guest.code}}) vs You</h5>
        <p style="font-size: 12px;" class="sub-title">{{contest.guest.name}} WhatsApp No -
            {{contest.guest.phone}}<br>Challange Amount - {{contest.coins}}<br>Contest Code - {{contest.code}}</p>
    </ng-container>
    <ng-container *ngIf="!isHost">
        <h5 class="title">{{contest.host.name}} ({{contest.host.code}}) vs You</h5>
        <p style="font-size: 12px;" class="sub-title">{{contest.host.name}} WhatsApp No -
            {{contest.host.phone}}<br>Challange Amount - {{contest.coins}}</p>
        <p *ngIf="contest.roomCode" style="font-size: 12px;" class="sub-title">Room Code : <b>{{contest.roomCode}}</b>
        </p>
    </ng-container>
    <br>
    <ng-container *ngIf="contest.status=='ready'">
        <ng-container *ngIf="isHost">
            <mat-card-content>
                <mat-form-field class="full-width-input">
                    <input matInput name="roomCode" placeholder="Room Code" [(ngModel)]="roomCode" [required]="true">
                </mat-form-field>
                <button mat-stroked-button color="primary" (click)="setRoomCode()">Start</button>
            </mat-card-content>
        </ng-container>
        <ng-container *ngIf="!isHost">
            <mat-card-content>
                <p>Please Wait for {{contest.host.name}} to add Romm Code</p>
            </mat-card-content>
        </ng-container>
    </ng-container>

    <!-- On Going Contest -->

    <ng-container *ngIf="(contest.status=='ongoing' || contest.status=='cancelRequest') && !isSubmitted">
        <label class="title">Select Your Result</label>
        <mat-radio-group name="result" (change)="resultSelect($event)" color="primary" class="result-radio-group"
            [(ngModel)]="result">
            <mat-radio-button color="primary" class="result-radio-button" value="won">
                I Won
            </mat-radio-button>
            <mat-radio-button color="primary" class="result-radio-button" value="lose">
                I Lost
            </mat-radio-button>
            <mat-radio-button color="primary" class="result-radio-button" value="cancel">
                Request cancellation
            </mat-radio-button>
        </mat-radio-group>
        <ng-container *ngIf="isImageUploadRequired && !imageUrl">
            <br>
            <label class="title">Upload Winning Sccrenshot</label>
            <br />
            <button #file mat-flat-button color="primary">Select
                <input (change)="onImageSelect($event)"
                    style="opacity: 0; position:absolute; left:0px; top:0px; width:100%; height:100%;" type="file" />
            </button>
            <button style="margin-left: 15%;" mat-stroked-button color="primary" (click)="imageUpload()">Upload</button>
            <br />
        </ng-container>
        <ng-container *ngIf="isVideoUploadRequired">
            <h5 style="color: red;"><br>
                * Please Upload Proof video and Reason to cancel<br>
                * If you were able to proof that something wrong hapeened then you would be declared winner</h5><br>
        </ng-container>
        <ng-container *ngIf="isVideoUploadRequired && !videoUrl">
            <br>
            <label class="title">Upload Prrof Video</label>
            <br />
            <button #file mat-flat-button color="primary">Select
                <input (change)="onVideoSelect($event)"
                    style="opacity: 0; position:absolute; left:0px; top:0px; width:100%; height:100%;" type="file" />
            </button>
            <button style="margin-left: 15%;" mat-stroked-button color="primary" (click)="videoUpload()">Upload</button>
            <br />
        </ng-container>
        <ng-container *ngIf="isCommentRequired">
            <br>
            <label class="title">Reason For Cancellation</label>
            <mat-form-field style.fontSize="12px">
                <textarea [(ngModel)]="comment" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
            <br />
        </ng-container>
        <ng-container *ngIf="isHost">
            <mat-card-content>
                <br>
                <mat-divider></mat-divider>
                <br>
                <button mat-stroked-button color="primary" (click)="hostSubmit()">Submit</button>
            </mat-card-content>
        </ng-container>
        <ng-container *ngIf="!isHost">
            <mat-card-content>
                <br>
                <mat-divider></mat-divider>
                <br>
                <button mat-stroked-button color="primary" (click)="guestSubmit()">Submit</button>
            </mat-card-content>
        </ng-container>
    </ng-container>

    <!-- On Conflict Contest -->

    <ng-container *ngIf="contest.status=='conflict'">
        <br>
        <mat-card-content>
            <h6 class="title">Both of You have Submitted Winning Result, Team will review and will choose winner on
                behalf of screenshot provided by both of you</h6>
        </mat-card-content>
    </ng-container>

    <!-- On cancelRequest Submitted Contest -->

    <ng-container *ngIf="contest.status=='cancelRequest' && isSubmitted">
        <br>
        <mat-card-content>
            <h6 class="title">One of you have requested cancellation, team will review on behalf of proofs and will
                declare winner</h6>
        </mat-card-content>
    </ng-container>

    <!-- On Submitted Contest -->

    <ng-container *ngIf="contest.status!='cancelRequest' && contest.status!='conflict' && isSubmitted">
        <br>
        <mat-card-content>
            <h6 class="title">You have submitted your result.Contest will be updated when other player will submit,
                otherwise you would be declared winner after 2 hours</h6>
        </mat-card-content>
    </ng-container>


</mat-card>